{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css"
}
